services:
  postgres:
    container_name: postgres2
    image: postgres:latest
    restart: always
    stop_grace_period: 30s
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./migrations/001_create_notifications_table.up.sql:/docker-entrypoint-initdb.d/001_create_notifications_table.up.sql
    ports:
      - "${POSTGRES_PORT}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
  redis:
    image: redis:8.2.3-alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "${REDIS_PORT}:6379" 
    command: ["redis-server", "--appendonly", "yes", "--requirepass", "${REDIS_PASSWORD}"]
  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - postgres
    environment:
      APP_PORT: ${APP_PORT:-8080}
      DATABASE_URL: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres2:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable"
    ports:
      - "${APP_PORT:-8080}:8080"
    restart: on-failure
  rabbitmq:
    build:
      context: .
      dockerfile: rabbitmq.Dockerfile
    container_name: rabbitmq
    restart: unless-stopped
    ports:
        - "5672:5672"    # AMQP
        - "15672:15672"  # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

volumes:
  pgdata:
  rabbitmq_data: